.product-details img {
  width: 40%;
}

.related-products {
  display: flex;
  flex-wrap: nowrap;
}

.product-element-grid {
  flex: 0 0 calc(33.333% - 10px);
  margin-right: 10px;
  text-align: center;
}

.product-element-grid img {
  width: 50%;
}
